// navbar styles variables
$bar-width: 1.5rem;
$bar-height: 4px;
$bar-gap: 4px;
$bar-translate-X: 8px;
$bar-rotate: 45deg;
$navbar_toggler_color: #121212;
$nav-link-color: $navbar_toggler_color;
$navbar_transition: all 0.3s ease;
$have_drop_down: true;
$nav-link-hover-mode: ('opacity');